{{!-- 
<nav class="menu container m-auto">
  <ul class="">
    <li id="m1" class="menu-item"><a class="btn w-100" href="/">Главная</a></div>
    <li id="m2" class="menu-item"><a class="btn w-100" href="/about/">О квартете</a></div>
    <li id="m3" class="menu-item"><a class="btn w-100" href="/repertoire/">Репертуар</a></div>
    <li id="m4" class="menu-item"><a class="btn w-100" href="/media/">Медиа</a></div>
    <li id="m5" class="menu-item"><a class="btn w-100" href="/contacts/">Контакты</a></div>
  </ul>

</nav> --}}