<div class="login-form" style="margin:10rem auto; max-width: fit-content;">

    <form class="form-group" action="/admin/login" method="post">
        <div class="input-group">
            <label class="form-control">Username:</label>
            <input class="form-control" type="text" name="username" />
        </div>
        <div class="input-group">
            <label class="form-control">Password:</label>
            <input class="form-control" type="password" name="password" />
        </div>
        <div>
            <input class="mt-3 form-control" type="submit" value="Log In" />
        </div>
    </form>
</div>